services:
  db:
    build: ./db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data

  migrate:
    build: ./api
    command: node migrations/migrate.js
    depends_on:
      - db
    env_file:
      - .env

  api:
    build: ./api
    ports:
      - "8080:8080"
    depends_on:
      - db
    env_file:
      - .env

  redis:
    image: redis@sha256:73dad4271642c5966db88db7a7585fae7cf10b685d1e48006f31e0294c29fdd7 # v8.4.0
    restart: unless-stopped
    ports:
      - "6379:6379" # dev only

  worker:
    build: ./worker
    depends_on:
      - db
      - migrate
      - redis
    env_file:
      - .env

  prometheus:
    image: prom/prometheus@sha256:1f0f50f06acaceb0f5670d2c8a658a599affe7b0d8e78b898c1035653849a702 # v3.9.1
    volumes:
      - ./infra/monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana@sha256:9be5ff7e987b98ff82a02d888412c8bf65da089f98b4c60df67c03a40d6fbed2 # v12.4.0-20977568970
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER:-admin}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD:-admin}
    volumes:
    - grafana-data:/var/lib/grafana

  redis-exporter:
    image: oliver006/redis_exporter@sha256:bac9872da2b48e6eebbffb11517a5dcda59958eda51e1e4231eeb5dd516b4a5f # v1.80.1
    environment:
      - REDIS_ADDR=redis:6379

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter@sha256:fb96c4413985d4b23ab02b19022b3d70a86c8e0a62f41ab15ebb6f4673781a5d # v0.18.1
    environment:
      DATA_SOURCE_NAME: "postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable"
    depends_on:
      - db

volumes:
  pgdata:
  grafana-data: