apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: app
spec:
  clusterIP: None
  selector:
    app: postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: postgres