apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: sgawalsh/worker:0.1.0
          env:
            - name: ROLE
              value: worker
          envFrom:
            - configMapRef:
                name: postgres-config
            - configMapRef:
                name: redis-config
            - secretRef:
                name: postgres-secrets
            - secretRef:
                name: redis-secret
