apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis@sha256:73dad4271642c5966db88db7a7585fae7cf10b685d1e48006f31e0294c29fdd7 # v8.4.0
          ports:
          - name: redis
            containerPort: 6379
          envFrom:
            - secretRef:
                name: redis-secret
          command: ["redis-server", "--requirepass", "$(REDIS_PASSWORD)"]